# Node dependencies
node_modules/
dist/

# Credentials / Tokens
credentials.json
token.json

# Log files
*.log

# Environment variables (if you use a .env file later)
.env* gmail_token.json
gmail_token_leefuhr.json
gmail_token_leefur.json
